<div>
  <mat-card>
      <mat-card-title>Deseja excluir esse Ticket? </mat-card-title>
      <form>
          <div>
              <mat-form-field>
                  <input matInput placeholder="Id" [value]="financeiro.ticketId" name="id" disabled>
              </mat-form-field>
          </div>
          <div>
              <mat-form-field>
                  <input matInput placeholder="Valor" [value]="financeiro.valorFinal" name="valor" disabled>
              </mat-form-field>
          </div>
          <!-- <div>
              <mat-form-field>
                  <input matInput placeholder="Marca" [value]="carro.marca" name="marca" disabled>
              </mat-form-field>
          </div>
          <div>
              <mat-form-field>
                  <input matInput placeholder="Modelo" [value]="carro.modelo" name="modelo" disabled>
              </mat-form-field>
          </div> -->
      </form>
      <button mat-raised-button (click)="apagarTicket()" color="warn"> Excluir </button>

      <button mat-raised-button (click)="cancelar()"> Cancelar </button>
  </mat-card>
</div>
