<mat-card>
    <mat-card-title>Ticket</mat-card-title>
    <form>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Hora de Entrada</mat-label>
                <input required matInput [matDatepicker]="horaEntrada" matInput [(ngModel)]="financeiro.horaEntrada" [ngModelOptions]="{standalone: true}">
                <mat-datepicker-toggle matSuffix [for]="horaEntrada"></mat-datepicker-toggle>
                <mat-datepicker #horaEntrada></mat-datepicker>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>Hora de Saída</mat-label>
                <input required matInput [matDatepicker]="horaSaida" matInput [(ngModel)]="financeiro.horaSaida" [ngModelOptions]="{standalone: true}">
                <mat-datepicker-toggle matSuffix [for]="horaSaida"></mat-datepicker-toggle>
                <mat-datepicker #horaSaida></mat-datepicker>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>Valor Total</mat-label>
                <input required type="number" matInput [(ngModel)]="financeiro.valorTotal" [ngModelOptions]="{standalone: true}" />
            </mat-form-field>
        </div>

    </form>
    <button mat-raised-button (click)="cadastrarTicket()" color="primary">Salvar
  </button>

    <button mat-raised-button (click)="Cancelar()">Cancelar</button>
</mat-card>
