

 .mat-column-clienteId {
  flex: 0 1 10px;
}

div {
    width: 60%;
}

button {
    font-size: small;
}

table {
    width: 100%;
}

.edit {
    margin-right: 10px;

}

.edit>i {
    color: #6b5ee3;
}

.delete>i {
    color: #e35e6b;
}
