<mat-card>
    <mat-card-title>Nova Entrada</mat-card-title>
    <form>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Entrada</mat-label>
                <!-- <input matInput type="datetime-local" matInput [(ngModel)]="estacionamento.entrada" [ngModelOptions]="{standalone: true}" /> -->
                <input matInput type="datetime-local" (change)="procurarData()" matInput [(ngModel)]="estacionamento.entrada" [ngModelOptions]="{standalone: true}" />
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>Saida</mat-label>
                <input matInput type="datetime-local" matInput [(ngModel)]="estacionamento.saida" [ngModelOptions]="{standalone: true}" />
            </mat-form-field>
        </div>

        <!-- <div>
            <mat-form-field appearance="outline">
                <mat-label>Entrdada</mat-label>
                <input matInput type="datetime-local" matInput [(ngModel)]="estacionamento.entrada" />
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>Saida</mat-label>
                <input matInput type="datetime-local" matInput [(ngModel)]="estacionamento.saida" />
            </mat-form-field>
        </div> -->

        <div>
            <mat-form-field appearance="outline">
                <mat-label>Placa</mat-label>
                <mat-select [(ngModel)]="estacionamento.veiculoId" name="placa">
                    <mat-option *ngFor="let veiculo of veiculos" [value]="veiculo.id"> {{veiculo.placa}} </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Valor Hora</mat-label>
                <mat-select [(ngModel)]="estacionamento.tabelaPrecoId" name="preco">
                    <mat-option *ngFor="let financeiro of financeiro" [value]="financeiro.id"> {{financeiro.valorHora}} </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- <div>
            <mat-form-field appearance="outline">
                <mat-label>Valor Total</mat-label>
                <input type="number" matInput [(ngModel)]="estacionamento.valorTotal" name="valorTotal" />
            </mat-form-field>
        </div> -->
    </form>
    <button mat-raised-button (click)="cadastrarEstacionamento()" color="primary">Salvar
  </button>

    <button mat-raised-button (click)="cancelar()">Cancelar</button>
</mat-card>
