<mat-card>
    <mat-card-title>Nova Vigência</mat-card-title>
    <form>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Inicio da Vigência</mat-label>
                <input required matInput [matDatepicker]="vigenciaInicial" matInput [(ngModel)]="financeiro.vigenciaInicial" [ngModelOptions]="{standalone: true}">
                <mat-datepicker-toggle matSuffix [for]="vigenciaInicial"></mat-datepicker-toggle>
                <mat-datepicker #vigenciaInicial></mat-datepicker>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>Final da Vigência</mat-label>
                <input required matInput [matDatepicker]="vigenciaFinal" matInput [(ngModel)]="financeiro.vigenciaFinal" [ngModelOptions]="{standalone: true}">
                <mat-datepicker-toggle matSuffix [for]="vigenciaFinal"></mat-datepicker-toggle>
                <mat-datepicker #vigenciaFinal></mat-datepicker>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>Valor da Hora</mat-label>
                <input required type="number" matInput [(ngModel)]="financeiro.valorHora" [ngModelOptions]="{standalone: true}" />
            </mat-form-field>
        </div>

    </form>
    <button mat-raised-button (click)="cadastrarPreco()" color="primary">Salvar
  </button>

    <button mat-raised-button (click)="cancelar()">Cancelar</button>
</mat-card>
